/* -------------- Modal popup ---------------------------- */

/* modal background   */ 

.modalBackground
{
      overflow: hidden!important;
    background-color: Gray;
    filter: alpha(opacity=80);
    opacity: 0.8;
    z-index: 10000;

   
}

.hidescroll
{
    overflow: hidden;
   overflow: auto;
  margin: 0;
-webkit-overflow-scrolling: touch;

   
}